.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  background-color: green;
  font: inherit;
  color : white;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.App button:hover{
  background-color: lightgreen;
  color: black;
}

.App button.Red {
    background-color: red;
}

.App button.Red:hover{
  background-color: salmon;
  color: black;
}
